.header {
    height: 80px;
    width: 100%;
    padding: 25px 30px;
}
.logo-div {
    width: 5%;

}
.nav-div {
    float: left;
    width: 95%;
}
.nav-bar ul {
    margin-left: 20px;
}
.nav-bar li {
    padding: 10px 20px;
    margin: 5px 10px;
    font-size: 1.3rem;
    display: inline;
}
.nav-bar a {
    text-decoration: none;
}
.nav-bar a:hover {
    font-weight: bold;
    background-color: #353434;
}
.right {
    float: right;
    padding: 6px 10px;
    margin: 2px 8px;
    font-weight: 500;
    
}

.img-container {
    width: 25%;
    height: 250px;
    padding: 20px;
    margin: 0;
    display: flex-warp;
    float: left;
    box-shadow: 2px 2px 8px black;
}
.img {
    height: 200px;
    width: 100%;
}
.img-container h2 {
    margin-bottom: 0;
    margin-left: 0;
    color: white;
}