.imgContainer {
    width: 23%;
    height: 300px;
    padding: 20px;
    margin: 1%;
    display: flex-warp;
    float: left;
    box-shadow: 2px 2px 8px black;
}
.img {
    height: 200px;
    width: 100%;
}
.imgContainer h2 {
    margin: 3px 0px;
    margin-left: 0;
    color: white;
}
.img img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}